<div>
    <div class="row-fluid" collapse="isCollapsed">
        <div class="well well-small">
            <div class="row-fluid">
                <div class="span6">
                    <label>Date</label> 
                    <div class="input-append select-date">
                        <input class="date-string" type="text" ng-model="startDateString" disabled>
                        <button class="btn btn-primary" ng-click="isStartDateCollapsed = !isStartDateCollapsed">Select Date</button>
                    </div>
                    <div collapse="isStartDateCollapsed">
                        <div class="well well-small">
                            <div class="row-fluid">
                                <div class="span7">
                                    <div ui-date="dateOptions" ng-model="timelineStartTime"></div>
                                </div>
                                <div class="span5">
                                    <div class="row-fluid">
                                        <div class="span5 input-prepend">
                                            <span style="width: 30px;" class="add-on">Hour</span>
                                            <input class="date-string-input" type="text" ng-model="sliderStartVal">
                                        </div>
                                        <div class="span7">
                                            <div class="ui-slider-container" ui-slider min="0" max="23" ng-model="sliderStartVal"></div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5 input-prepend">
                                            <span style="width: 30px;" class="add-on">Min</span>
                                            <input class="date-string-input" type="text" ng-model="sliderStartMinVal">
                                        </div>
                                        <div class="span7">
                                            <div class="ui-slider-container" ui-slider min="0" max="23" ng-model="sliderStartMinVal"></div>
                                        </div>
                                    </div>
                                    <div class="row-fluid right-align date-close">
                                        <button class="btn btn-danger" ng-click="isStartDateCollapsed = !isStartDateCollapsed">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-append select-date">
                        <input class="date-string" type="text" ng-model="stopDateString" disabled>
                        <button class="btn btn-primary" ng-click="isStopDateCollapsed = !isStopDateCollapsed">Select Date</button>
                    </div>
                    <div collapse="isStopDateCollapsed">
                        <div class="well well-small">
                            <div class="row-fluid">
                                <div class="span7">
                                    <div ui-date="dateOptions" ng-model="timelineStopTime"></div>
                                </div>
                                <div class="span5">
                                    <div class="row-fluid">
                                        <div class="span5 input-prepend">
                                            <span style="width: 30px;" class="add-on">Hour</span>
                                            <input class="date-string-input" type="text" ng-model="sliderStopVal">
                                        </div>
                                        <div class="span7">
                                            <div class="ui-slider-container" ui-slider min="0" max="23" ng-model="sliderStopVal"></div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5 input-prepend">
                                            <span style="width: 30px;" class="add-on">Min</span>
                                            <input class="date-string-input" type="text" ng-model="sliderStopMinVal">
                                        </div>
                                        <div class="span7">
                                            <div class="ui-slider-container" ui-slider min="0" max="23" ng-model="sliderStopMinVal"></div>
                                        </div>
                                    </div>
                                    <div class="row-fluid right-align date-close">
                                        <button class="btn btn-danger" ng-click="isStopDateCollapsed = !isStopDateCollapsed">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <label for="Tags">Tags</label>
                    <tag-selector terms="tags"></tag-selector>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span6">
                    <label>Type</label>
                    
                    <label class="checkbox inline">
                        <input type="checkbox" ng-model="generic"> Generic
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" ng-model="youtube"> Youtube
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" ng-model="twitter"> Twitter
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" ng-model="raw"> Raw
                    </label>
                </div>
                <div class="span6">
                    <!-- <label>Saved Filters</label> -->
                    <label>&nbsp;</label>
                    <div class="row-fluid">
                        <div class="span8 input-append">
                            <!-- <select ng-model="querySelected" ng-options="q as q.name for q in queryModel" ng-change="applyQuery()">
                                <option value="">Select Saved Filter</option>
                            </select>
                            <button type="button" class="btn btn-info" ng-click="resetFilters()">Reset</button> -->
                        </div>
                        <div class="span4 right-align">
                            <button class="btn btn-danger" ng-click="isCollapsed = !isCollapsed">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="timeline" class="left span8"></div>
        <div class="right span4">
            <div class="filter filter-map">
                <header>
                    <label for="mapFitlerEnable">Map Filter</label>
                    <div class="btn-group" name="mapFilterEnable" data-toggle="buttons-checkbox">
                        <button type="button" class="btn btn-primary" ng-model="mapFilterEnable" btn-radio="true">On</button>
                        <button type="button" class="btn btn-primary" ng-model="mapFilterEnable" btn-radio="false">Off</button>
                    </div>
                </header>

                <map map-items="mapItems" map-bounds="mapBounds" viewmode="viewmode"></map>

            </div>
        </div>
    </div>
</div>
